parameters:
    level: max
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2
    paths:
        - src
        - .php-cs-fixer.dist.php
    reportUnmatchedIgnoredErrors: false